* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(148, 34, 34);
    margin-bottom: 30px;
}

.root {
    margin: 10% auto;
    padding: 10px;
}

.title {
    color: white;
    text-align: center;
    font-size: 3rem;
    font-family: cursive;
    font-weight: 600;
    margin-top: 3rem;
}

.notify {
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    visibility: hidden;
}

.warning {
    color: red;
}

.status {
    color: green;
}

.fetch {
    background-color: #112cd2;
    border: none;
}

.fetch:hover {
    background-color: #3b51e2;
}

.loader {
    margin: 15px auto;
    border: 10px solid #f3f3f3;
    /* Light grey */
    border-top: 10px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.2s linear infinite;
    visibility: hidden;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.notification_section {
    margin-top: -10%;
}

.download_div {
    text-align: center;
}

.download_btn {
    visibility: hidden;
    margin-top: 1.2rem;
}

/* CSS of homepage.html*/

.main_container {
    background-color: rgb(148, 34, 34);
    padding: 10px;
    margin: 15% auto;
    text-align: center;
}

.choices {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(148, 34, 34);
    padding: 10px;
    margin: 5%;
    align-items: center;
    justify-content: center;
}

.choice_links {
    flex: 5%;
    margin: 10px;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 10px;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.choice_links:hover {
    text-decoration: none;
    color: black;
    background-color: white;
}

.main_title {
    color: white;
    font-weight: 700;
    margin: 0 auto;
}

.main_title h2 {
    font-size: 3rem;
}

.site_logo {
    width: 100px;
    height: 100px;
}

.root a {
    margin-left: 1rem;
}

.navbar-section a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    margin-right: 1em;
}

.about-section {
    color: white;
    padding: 10px;
    margin-top: 4rem;
}

.sub_title {
    font-size: 1.8rem;
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
}

.about-section ul {
    margin-left: 2rem;
}

.about div {
    text-align: center;
    margin-top: 3rem;
}

.navigation {
    padding: 2rem;
    float: right;
}

.navigation a {
    color: white;
    padding: 10px;
    font-size: 1rem;
    margin-right: 1rem;
}

.navigation a:hover {
    text-decoration: none;
    border-bottom: 2px solid white;
}

.footer {
    padding: 8px;
    clear: both;
    background-color: #2f2d2d;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 40px;
}

.footer a {
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
}

.footer a:hover {
    color: yellow;
}

/* End of CSS of homepage.html*/

/* Media Queries */

/* On screens that are 992px wide or less, go from four columns to two columns */

@media screen and (max-width: 992px) {
    .choices_links {
        flex: 50%;
    }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .choice_links {
        flex-direction: column;
        /*flex-wrap: wrap;*/
        font-size: 1.2rem;
    }
    .main_title h2 {
        font-size: 2rem;
    }
    .main_container {
        margin: 25% auto;
    }
    .title {
        font-size: 2.2rem;
    }
}