{% extends "layout.html" %}
{% block title %}
About
{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    body {
        background: rgb(148, 34, 34);
    }
</style>
{% endblock %}
{% block content %}
<div class="container about">
    <article class="about-section">
        <h2 class="sub_title">About</h2>
        <p>A web application to download images from websites like - 
            <span>Idlebrain</span>, 
            <span>Ragalahari</span>, 
            <span>Cinejosh</span> and
            <span>Blogspot</span>/<span>sumon4all</span>/<span>tollywoodhq.com</span> galleries by providing the gallery URL.</p>
        <ul>
            <li>User enters a valid gallery URL.</li>
            <li>The App downloads all the images from the given URL and saves them in a directory.</li>
            <li>The directory is then Zipped and available for download</li>
            <li>User can download the zipped directory on clicking 'Download' button.</li>
        </ul>
        <em>Note: Only gallery URLs of the above mentioned websites will work.</em>
    </article>

</div>
{% endblock %}