{% extends "layout.html" %}
{% block title %}
    Cinejosh
{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        body {
            background-color: #f5de5e;
        }
    </style>
{% endblock %}
{% block content %}
{% set site="CJ" %}
<div class="container root">
    <a href="{{ url_for('homepage') }}">Back to Home</a>
    <h2 class="title mb-4">{{ site }} Downloader</h2>
    <div class="container" style="display: flex;">
        <input class="{{ site }}_url form-control" type="text" value="" placeholder="Enter {{ site }} URL" autofocus>
        <button class="btn btn-success ml-3 fetch" id="{{ site }}"><strong>
                Go</strong></button>
    </div>
    <div class="loader"></div>
    <div class="notify">
        <span class="warning"></span>
        <span class="status"></span>
    </div>
    <div class="download_div">
        <a class="download_btn btn btn-success">Download</a>
    </div>
</div>
{% endblock %}