{% extends "layout.html" %}
{% block title %}
Contact
{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    body {
        background: rgb(148, 34, 34);
    }
</style>
{% endblock %}
{% block content %}
<div class="container about">
    <article class="about-section">
        <h2 class="sub_title">Contact</h2>
        <p>For any concern you may have (or) any information that you may require you can contact me at: <a
                style="color:rgb(153 230 230); font-size: 1.1rem; font-weight: bold;" href="mailto:ramm.y2k@gmail.com">ramm.y2k@gmail.com</a></p>
    </article>

</div>
{% endblock %}