{% extends "layout.html" %}
{% block title %}
Idlebrain
{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    body {
        background:  rgb(148, 34, 34);
    }
</style>
{% endblock %}
{% block content %}
<div class="container main_container">
    <div class="main_title">
        <h2>Image Scrapper & Downloader</h2>
    </div>
    <div class="choices">
        <a class="choice_links" href="{{ url_for('Idlebrain') }}">Idlebrain</a>
        <a class="choice_links" href="{{ url_for('ragalahari') }}">Ragalahari</a>
        <a class="choice_links" href="#">Cinejosh</a>
        <a class="choice_links" href="#">Blogspot</a>
    </div>
</div>
{% endblock %}