{% extends "layout.html" %}
{% block title %}
Homepage
{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container main_container">
    <div class="main_title">
        <h2>Image Downloader</h2>
    </div>
    <div class="choices">
        <a class="choice_links" href="{{ url_for('Idlebrain') }}">Idlebrain</a>
        <a class="choice_links" href="{{ url_for('ragalahari') }}">Ragalahari</a>
        <a class="choice_links" href="{{ url_for('cinejosh') }}">Cinejosh</a>
        <a class="choice_links" href="{{ url_for('bst') }}">Blogspot</a>
    </div>
</div>
{% endblock %}